

<div class="current-edit" data-id="{{item.id}}" data-content="{{item.content}}">
  <div>
    <div class="form-group">
      <form class="item-edit-form">
        <input name="item[content]" type="text" class="form-control" required="" autofocus="">
        <button class="btn btn-default" type="submit">Save</button>
      </form>
    </div>
    <div><button class="btn btn-default cancel-edit">Cancel</button></div>
  </div>
</div>
