

<div class="current-edit" data-id="{{item.id}}" data-content="{{item.content}}">
  <div>
    <div class="form-group inline">
      <form class="item-edit-form inline">
        <input name="item[content]" type="text" class="form-control" required="" autofocus="">
        <button class="btn btn-default btn-small" type="submit">Save</button>
      </form>
      <button class="btn btn-default cancel-edit inline btn-small">Cancel</button>

    </div>
  </div>
</div>
