<div data-id="{{id}}" data-content="{{content}}">
  <div class="form-group">
    <form class="item-edit-form">
      <input name="item[content]" type="text" class="form-control" required="" autofocus="">
      <button class="btn btn-default" type="submit">Save</button>
    </form>
  </div>
</div>
