{{#each items as |item|}}

<div class="item-container" data-id="{{item.id}}" data-content="{{item.content}}">

  <div class="item-content">
    <p>
      {{item.content}}
      <button class="btn btn-default item-destroy btn-sm">Delete</button>
      <button class="btn btn-default item-edit btn-sm">Edit</button>
    </p>

  </div>
</div>

{{/each}}
