{{#each items as |item|}}

<div class="item-container" data-id="{{item.id}}" data-content="{{item.content}}">

  <div class="item-content">
    <p>{{item.content}}<button id="item-destroy" class="btn btn-default">Delete</button></p>

  </div>
</div>

{{/each}}
