<div class="row">
  <div class="col-md-4 col-xs-4">
    <div class="btn-group-lg" role="group">
      <button type="button" id="signout" class="btn btn-default">Sign Out</button>
      <button type="button" id="goto-changepass" class="btn btn-default">Change Password</button>
      <p class="message-text" id="signout-message"></p>
    </div>
  </div>

  <div clas="col-md-6 col-xs-6"></div>

<div class="col-md-2 col-xs-2"></div>
</div>

  <form id="item-create" class="form-signin">
    <label>Create Item</label>
    <input name="item[content]" type="text" class="form-control" required="" autofocus="">
    <button class="btn btn-default btn-block" type="submit">Create</button>
  </form>

  <!-- div to insert item index into -->
  <div id="current-list"></div>
