
  <button id="signout" class="btn btn-default ">Sign Out</button>
  <button id="goto-changepass" class="btn btn-default ">Change Password</button>

  <form id="item-create" class="form-signin">
    <label>Create Item</label>
    <input name="item[content]" type="text" class="form-control" required="" autofocus="">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
  </form>




  <!-- div to insert item index into -->
  <div id="current-list"></div>
