<div class="sign-in-page">

  <div class="form-group">
    <form id="form-signin">
      <h2> Please sign in</h2>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input name="credentials[email]" type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">

      <label for="inputPassword" class="sr-only">Password</label>
      <input name="credentials[password]" type="password" id="inputPassword" class="form-control" placeholder="Password" required="">

      <button class="btn btn-default btn-block" type="submit">Sign In</button>
    </form>
  </div>


  <button id="no-account" class="btn btn-default">No account? Sign up here!</button>
  <p id="signin-message"></p>
</div>
