$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.start-hidden {
  display: none;
}

.landing-page {
  text-align: center;
}
.signup-page {
  text-align: center;
}
