$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

html body {
    height: 100%;
}
#current-page{
  width: 100%;
}

.column {
  // margin-bottom: -9999px;
  padding-bottom: 9999px;
  -webkit-box-shadow: 0 0 2px 2px grey;
    -moz-box-shadow: 0 0 2px 2px grey;
    box-shadow: 0 0 2px 2px grey;
}
.dark-grey{
  background-color: #3a3a3a;
}

.container-fluid {
  min-height: 100%;
  overflow: hidden;
}

.sign-in-page {
  text-align: center;
}

.sign-up-page {
  text-align: center;
}

.dev-hide {
  display: none;
}
.btn-default {
  background-color: darkgrey;
}

header{
  background-color: #c6c4c4;
  margin-bottom: 35px;
  text-align: center;
}

h1 {
  font-size: 60px;
}

.inline {
  display: inline;
}

.group{
max-width: 500px;
min-width: 300px;
}

.center {
  margin: 0 auto
}

#item-create{
  margin-bottom: 25px;
}

.message-text {
  font-size: 16px;
}
